* {
    margin: 0;
    padding: 0;
}

html{
    background-color: rgb(214, 214, 214);
    display: flex;
    justify-content: center;
}

.main-home{
    width: 800px;
    min-height: 100vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-home header {
    background-color: black;
    color: white;
    padding: 1.25rem;
    width: 100%;
    box-sizing: border-box;
}

.main-home header h1 {
    font-size: xx-large;
}

.main-home form h3 {
    margin-left: 1.5rem;
    padding: 1rem 0;
    font-weight:500
}

.main-home form {
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(160, 160, 160);
    width: 90%;
    margin-top: 2rem;
}

.input-title {
    margin-top: 1rem;
}

.input-title label {
    width: 100%;
}

.input-title label span {
    margin-left: 1.5rem;
    font-weight: 500;
}
.input-title input {
    width: 90%;
    margin: 0.75rem 0 0 1.5rem;
    border: 1px solid rgb(138, 138, 138);
    border-radius: 3px;
    padding: 0.25rem;
    box-sizing: border-box;
}

.input-content {
    margin-top: 1rem;
}

.input-content label {
    width: 100%;
}

.input-content label span {
    margin-left: 1.5rem;
    font-weight: 500;
}
.input-content textarea {
     width: 90%;
    margin-top: 0.75rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;    
    border: 1px solid rgb(138, 138, 138);
    border-radius: 3px;
    padding: 0.25rem;
    box-sizing: border-box;
}

.button-create {
    background-color: black;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100px;
    margin-left: 36rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.button-create-grey {
    background-color: rgb(153, 153, 153);
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100px;
    margin-left: 36rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.post-section {
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(160, 160, 160);
    width: 90%;
    margin-top: 2rem;
}

.post-header {
    background-color: black;
    color: white;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.post-header h3 {
    font-weight: 400;
    font-size: x-large;
}

.post-buttons {
    display: flex;
}

.info-section {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.info-section .name {
    margin-left: 0;
}

.info-section h4 {
    color: grey;
    font-weight: 500;
    font-size: large;
}

.post-section .content{
    margin: 1rem;
    width: 90%;

}
.content p {
    width: 100%;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
}

.image {
    height: 20px;
    color: white;
    margin: 0.25rem;
    padding-left: 0.5rem;
}

.delete-section {
    display: none;
} 

.modal-buttons {
    background-color: white;
    border: 1px solid black;
    color: #000000;
    margin-top: 1rem;
    padding: 0.25rem;
    width: 100px;
    margin-left: 36rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.modal-container {
    width: 60%;
}

.button-save {
    background-color: black;
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100px;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 650px;
    box-sizing: border-box; 
}

.button-save-grey {
    position: relative;
    background-color: rgb(153, 153, 153);
    color: white;
    border: none;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 100px;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 650px;    
}